*~
*.lo
*.la
*.o
*.c
*.stamp
*.dirstamp
*.tar.gz
*.log
test-driver
things
extensions
.deps/
autom4te.cache/
Debug/
art/
packaging/debs/
packaging/repo/
.anjuta/
.anjuta_sym_db.db
aclocal.m4
compile
configure
depcomp
install-sh
missing
Makefile.in
Release/
Optimized/
INSTALL
*Makefile
libtool
ltmain.sh
/stamp-h1
/config.h
/config.h.in
/config.log
/config.lt
/config.status
config.guess
config.sub
src/.deps/
src/.libs/
src/nautilus/.libs/
src/Makefile
src/filefinder
src/tests_filefinder
src/*.c
src/*.o
src/*.trs
src/*.stamp*
src/*.la
src/*lo
