Source: filefinder
Maintainer: konkor <kapa76@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: filefinder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: advanced file search tool with Nautilus extension
 File Finder is an advanced native file search tool with modern user interface and an integration with Nautilus file explorer. There is async threaded multiple location searching with file masking, MIME types, modified dates, file sizes, text and binary search patterns.
